body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffffff;
  color: #303030;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

.header_text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

nav {
  background: #ffffff;
  color: #303030;
  height: 70px;
  border: 1px solid #b5b9c2;
  box-sizing: border-box;
}

.nav .navbar-brand {
  border-radius: 8px;
  background: #303030;
  border: 1px solid #eaedf3;
  box-sizing: border-box;
}

.nav .navbar-brand a span {
  color: #000000;
}

.nav .navbar-brand a input {
  color: #303030;
}

.form-control-primary {
  margin: 10px;
  opacity: 0.2;
  border-radius: 2px;
}

.menu {
  position: absolute;
}

.menu ul {
  margin-top: 20px;
}

.sidebar {
  position: relative;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}
.sidebar-right {
  position: relative;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background: #ffffff;
  color: #303030;
  margin-top: 70px;
  padding: 40px 0 0 10px;
  border-left: 1px solid #d3d3d3;
}

.left-sidebar {
  position: fixed;
  top: 1;
  height: calc(100vh - 70px);
  background: #ffffff;
  color: #303030;
}

.right-sidebar {
  position: fixed;
  top: 2;
  height: calc(100vh - 70px);
}

.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
}

main {
  background: #f2f2f8;
  padding-top: 150px;
}

.main-top {
  margin-bottom: 2rem;
  padding: 0.75rem;
  background: #5e81f4;
  color: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  position: relative;
  background-image: url("../img/card_back.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.ellipse_top {
  position: absolute;
  top: -2rem;
  left: -32px;
}

.user__name {
  font-size: 20px;
  line-height: 23px;
  font-weight: 600;
}
.user__welcome {
  padding-left: 2rem;
  margin-top: 1rem;
}
.get__started > button {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  border: none;
  padding: 0.5rem 2rem;
}

#close__user__info {
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 3rem;
  cursor: pointer;
}

main .card {
  margin-bottom: 20px;
}

.classes_title {
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  font-weight: 700;
  padding: 0.75rem;
}

.thead_light th {
  background-color: #f8f8f8;
  border: none;
  color: #222;
  font-size: 14px;
  line-height: 16px;
  padding: 0.75rem;
}

.table-box {
  background: #ffffff;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  padding: 1rem;
  margin-right: 0.5rem;
}

tbody tr:not(:first-child) {
  border-top: 1px solid #eaedf3;
}

.table__row td {
  padding: 1.5rem 0.25rem;
}

.bd-example {
  position: relative;
  padding: 1rem;
  margin: 1rem -15px 0;
  border-width: 0.2rem 0 0;
}

.result__detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 1.5rem 0;
}

.result__details .result__detail:not(:first-child) {
  border-top: 1px solid #eaedf3;
}

.result_name {
  width: 100%;
}

.result_name p,
.result_score p {
  padding: 0;
  margin-bottom: 0.25rem;
}

.result_score p {
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #5fd172;
}

.mini__card__text p {
  padding: 0;
  margin-bottom: 0.25rem;
}

.result_name p:nth-child(1),
.mini__card__text p:nth-child(1) {
  /* Black */
  color: #222222;
  font-weight: 600;
  font-size: 12px;
}

.result_name p:nth-child(2),
.mini__card__text p:nth-child(2) {
  font-size: 12px;
  opacity: 0.4;
}

.result_abbr {
  background: #eff2fe;
  border-radius: 8px;
  height: 3rem;
  font-size: 18px;
  line-height: 21px;
  color: #2a5699;
  width: 5.2rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
}

.result_progress {
  width: 100%;
  height: 0.4rem;
  font-weight: bold;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.result_progress::-webkit-progress-bar {
  background-color: #5fd172;
  border-radius: 8px;
}

.result_progress::-webkit-progress-value {
  border-radius: 2px;
  background-color: #f0f0f0;
}

.result_progress::-moz-progress-bar {
  background-color: #5fd172;
  border-radius: 8px;
}

.box__grid {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
}

.card__custom {
  border-radius: 16px;
  flex-direction: row;
  max-height: 7rem;
  position: relative;
}

.mini__card__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ebook_custom {
  height: 6.5rem;
}

.bullet_menu {
  display: block;
  top: 0.75rem;
  right: 0.75rem;
  position: absolute;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .box__grid {
    display: block;
  }
}

@media only screen and (max-width: 1250px) {
  .main-top {
    background-position: bottom;
  }
}

@media only screen and (max-width: 450px) {
  #close__user__info {
    right: 1rem;
  }
}
