
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgba(196, 196, 196, 0.17);  
}

.display{
  height: 350px;
  background: #1F59BB;
}

.emailVer-container{
  margin-top: 3rem;
  height: 800px;
  padding: 30px;
  background: #FFFFFF;
  color: #1F59BB;
  box-shadow: 0px 1px 3px rgba(53, 151, 245, 0.2);
}

.emailVer-text h1{
   font-size: 3.5rem;
}

.emailVer-text p.text-muted{
  font-size: 1.3rem;
}

.emailVer-text p{
  font-size: 1.2rem;
}

.emailVer-btn{
  font-size: 25px;
  height: 60px;
  width: 250px;
  background: #1F59BB;
  border-radius: 40px;
}
