@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
background-color: #fff;
font-family: 'Poppins', sans-serif;
font-weight: 700;
overflow: hidden;
}

.container {
display: flex;
height: 900px;

}

.info-wrap {
background: #1F59BB;
width: 50%;
display: block;
}

.logo {
    padding: 25px 60px;
    margin-top: 7px;
    height: 100px;
}

h1 {
    color: #fff;
    padding-left: 60px;
    font-size: 40px;
}

h5 {
    color: #fff;
    font-weight: 300;
    padding: 10px 60px;
}

.info-img {
    height: 400px;
    width: 280px;
    margin: 0 auto;
}

.info-img img {
    height: auto;
    max-width: 100%;
    padding-top: 30px;
}

.signin-wrap{
margin: 8rem auto;
width: 50%;
padding: 0 30px;
}

label {
color: #1F59BB;
font-size: 14px;
font-weight: 700;
}

form {
padding: 40px;
}

form input {
width: 100%;
padding: 10px 10px;
font-size: 14px;
border-radius: 5px;
border: 1px solid #1F59BB;
margin-bottom: 20px;
background: rgba(31, 89, 187, 0.05);
}

form input:focus {
outline: none;
}

.form-con{
padding: 10px 0 40px 0;
margin-top: -1.5%;
}

.form-con input {
width: 5%;
float: left;
margin-top: 1.2%;
}

.form-con a{
float: right;
text-decoration: none;
color: #1F59BB;
font-size: 14px;
padding-right: 10px;
}

.form-text {
text-align: center;
margin-top: -30px;
padding-bottom: 40px;
font-size: 14px;
font-weight: 400;
color: #1F59BB;
}

.form-text a {
text-decoration: none;
color: #000;
}

.btn {
background: #1F59BB;
color: #fff;
font-size: 14px;
font-family: 'Poppins', sans-serif;
}

@media (max-width: 874px) {
.info-wrap {
display: none;
}
.signin-wrap{
margin: 8rem auto;
width: 100%;
padding: 0 30px;
}

.form-con input {
margin-top: 2%;
margin-right: 3px;
}
}

@media (max-width: 400px){

.form-con a{
float: left;
text-decoration: none;
color: #1F59BB;
font-size: 14px;
padding-top: 6px;
padding-right: 10px;
}

.signin-wrap{
margin: 6rem auto;
width: 100%;
padding: 0 30px;
}
.form-con input {
margin-top: 3%;
margin-right: 3px;
}
}

